openapi: 3.0.0
info:
  title: API - Orders Clean Project
  version: 1.0.0
servers:
  - url: 'http://localhost:4001'
tags:
  - name: User
paths:
  /api/user:
    post:
      tags:
        - User
      summary: createUser
      requestBody:
        required: true
        content:
          application/json:
            example:
              name: Joao Maria
              email: joao.maria@gmail.com
              phone: "899733981472"
              profile: ADMIN
              cpf: "35524867474"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/users:
    get:
      tags:
        - User
      summary: GetAllUser
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: paginationLimit
          in: query
          schema:
            type: integer
          example: '1000'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/filters:
    get:
      tags:
        - User
      summary: getUserByFilters
      parameters:
        - name: cpf
          in: query
          schema:
            type: integer
          example: '33372047087'
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/user/1:
    get:
      tags:
        - User
      summary: getUserById
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/user/10:
    delete:
      tags:
        - User
      summary: deleteUser
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}